<!DOCTYPE html> 

<html lang = "en"> 
 <body>
  <h1>Today</h1>
  
 <p>The date is <% Date.today.strftime("%A, %B %d, %Y  %H:%M") %> </p>
 # <p>The date is Datetime.now.strftime.to_s(:date,:time).</p>
  </body>
</html>